<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>FLACK</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?version=45">

		<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> -->
		<!-- <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js" integrity="sha512-oFOCo2/3DtjrJG4N27BjSLQWoiBv171sK6a+JiWjp/7agxC2nCUP358AqzxkBUb5jX8g6CYLPdSKQTbC0weCwA==" crossorigin="anonymous"></script> -->
		<script src="{{ url_for('static', filename='socket.io.js') }}"></script>
		<script>
  			// const socket = io('http://localhost');
		</script>
		<script type="text/javascript">

			var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
			document.addEventListener('DOMContentLoaded', () => {
				//Requesting to channel list
				document.querySelector('body').onresize = function(){navResize()};
				const addButton = document.querySelector('#addChannel');
					addButton.onclick  = () => {
						const channelin =document.querySelector('#channelIn');
						const channelinput = channelin.value
						if (socket.connected){
							socket.emit('channel add', channelinput)
							channelin.value=""
						}
						else{
							alert('Connection Error')
						}
						
					}


				socket.on('connect', () => {
					document.querySelector("#mContents").style.display=""
					

					loadPage();



				});
				socket.on('reconnect', () => {
					setTimeout(function(){ 

						if (socket.connected){
							clearPage();
							loadPage();

						}
						else{
							location='/'
						}; 
					}, 2000);

				});
				socket.on('disconnect', () => {
					document.querySelector("#mContents").style.display="none"
					document.querySelector("#dconnect").style.display=""
					clearPage();
				});

				const chatInput = document.getElementById("chatTextInput");
				chatInput.addEventListener("keyup", function(event) {
					if (event.keyCode === 13) {
						event.preventDefault();
						document.getElementById("sendButton").click();
					}
				});

			}); //End of DOMContentLoaded
			function clearPage(){

				// const clist=document.querySelector("#sidebar");
				// clist.style.display="none";
				// chatinput.style.display="none";
				document.querySelector('#userbar').innerHTML="";
				const chatboxarea=document.querySelector("#chatarea")
				chatboxarea.innerHTML="";

			}
			function loadPage(){

				const clist=document.querySelector("#sidebar")
				const request = new XMLHttpRequest();
				request.open('POST','/clist');
				request.onload = () =>{
					document.querySelector("#dconnect").style.display="none"
					document.querySelector("#mContents").style.display=""


					// each element of the channel list recieved as response is passed to add_c function
					const data =  JSON.parse(request.responseText);
					data.users.forEach(addUser);
					if (data.status === 'success'){
						updateChannels(data.chlist)
					}
					else if(data.status === 'reload'){
						updateChannels(data.chlist)
						loadChannel(data.lastchannel)
					}
					else if(data.status === 'private'){
						updateChannels(data.chlist)
						loadPrivateChat(data.otherUser)
					}

				}; //End of request.onload
				request.send();
			}; //End of loadPage()

			function add_c(channelName) {

					// Create new list item.

				const chatboxarea=document.querySelector("#chatarea")
				const cname =document.createElement("button");
				cname.className = "channelClass btn btn-secondary text-wrap"
				cname.textContent = channelName;
				cname.style.width="100%";
				cname.onclick = () => {
					loadChannel(channelName)
						
					}

					// Add post to DOM.
					document.querySelector('#sidebar').appendChild(cname);
			};
function del_c(item) {


document.querySelector('#sidebar').removeChild(item);
};
function updateChannels(items){
	existingChannels=document.querySelectorAll('.channelClass')
	existingChannels.forEach(del_c)
	items.forEach(add_c)

}
function loadChannel(channelName){
	const chatboxarea=document.querySelector("#chatarea")
	const channelChatRequest = new XMLHttpRequest();
	const channelpath = ('/channel/'+channelName).replace(/ /g,'')
	channelChatRequest.open('POST',channelpath);
	channelChatRequest.onload = () =>{
		socket.emit('join');
		const response = JSON.parse(channelChatRequest.responseText)
		chatboxarea.innerHTML="    "
		if (response !== false) response.forEach(addMessage);
		const chatTextInput = document.querySelector("#chatTextInput")
		chatinput.style.display="flex"
		const chatbox=document.querySelector('#chatbox')
		const sendButton = document.querySelector('#sendButton');
		sendButton.onclick = () =>{
			const chatmessage = chatTextInput.value;
								socket.emit('message send', chatmessage)
								chatTextInput.value=""
				
							}

						}
						channelChatRequest.send();

};
function loadPrivateChat(userName){
	const chatboxarea=document.querySelector("#chatarea")
	const userChatRequest = new XMLHttpRequest();
	const userpath = ('/user/'+userName).replace(/ /g,'')
	userChatRequest.open('POST',userpath);
	userChatRequest.onload = () =>{
		socket.emit('join');
		const response = JSON.parse(userChatRequest.responseText)
		chatboxarea.innerHTML="    "
		if (response !== false) response.forEach(addMessage);
		const chatTextInput = document.querySelector("#chatTextInput")
		chatinput.style.display="flex"
		const chatbox=document.querySelector('#chatbox')
		const sendButton = document.querySelector('#sendButton');
		sendButton.onclick = () =>{
			const chatmessage = chatTextInput.value;
								socket.emit('message send', chatmessage)
								chatTextInput.value=""
				
							}

						}
						userChatRequest.send();

};

		function addMessage(message){
			const userbar = document.querySelector('#userbar');
			dname=userbar.dataset.dname
			
			var options = { year: 'numeric', month: 'long', day: 'numeric',hour: 'numeric',minute: 'numeric',seconds: 'numeric' };

			const chatboxarea=document.querySelector("#chatarea")
			messageSender=document.createElement('h5');{
				messageSender2=document.createElement('span');
				messageSender2.className="badge badge-light"
				messageSender2.textContent=message.sender
				messageSender.appendChild(messageSender2)
			}
			const messageLine=document.createElement('p');
			messageLine.className="pl-2"
			const messageTime=document.createElement('p');
			messageTime.className="text-right"
			const messageBox=document.createElement('div');
			messageBox.className="p-3 m-1 border border-secondary rounded"
			if (dname===message.sender){
				messageBox.className=messageBox.className+" bg-light"
			}
			mtime=new Date(parseInt(message.time))
			messageLine.textContent=message.message;
			messageTime.textContent=mtime.toLocaleString('en-US', options);

			messageBox.appendChild(messageSender)
			messageBox.appendChild(messageLine)
			messageBox.appendChild(messageTime)
			chatboxarea.appendChild(messageBox);
				};

		function addUser(userName) {

					// Create new list item.
				const userbar = document.querySelector('#userbar');
				dname=userbar.dataset.dname
				if (dname !== userName){

				

					const user =document.createElement("button");
					user.textContent = userName;
					user.className = "btn btn-outline-secondary text-wrap"
					user.onclick = () => {
					loadPrivateChat(userName)
						
					}


					// Add post to DOM.
					document.querySelector('#userbar').appendChild(user);
				}
					};
		function navResize(){
			if (window.innerWidth > 991){
			button1=document.querySelector('#toggle1')
			button2=document.querySelector('#toggle2')
				if ( button1.getAttribute('aria-expanded') === 'false' ) {
					button1.click()
				}
			
				if ( button2.getAttribute('aria-expanded') === 'false' ) {
					button2.click()
				}
			}
		};//End of Nav resize

		socket.on('recieve message', data => {
				 addMessage(data);

		});
		socket.on('channel added',data => {
				 add_c(data);

		});
		socket.on('new user',data => {

 
				 addUser(data)
		});



		</script>

	</head>
	<body class="bg-light">
	<nav class="navbar navbar-expand-lg navbar navbar-light bg-warning">
		<button id="toggle1" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent1" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		  <a class="navbar-brand" href="#">
	<img src="{{ url_for('static', filename='brand2.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
			Flack</a>
		<button id="toggle2" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<div id="dconnect" class="jumbotron jumbotron-fluid" style="display:none;">
		<div class="container">
			<h1 class="display-4">Disconnected</h1>
			<p class="lead">You are disconnected from the server.</p>
		</div>
	</div>

	<div class="contianer-fluid" id="mContents">
		<div class="row ml-1 mr-1">
			<div class="collapse show flex-column col-3 navbarToggleExternalContent" id="navbarToggleExternalContent1">
				<div class="input-group mb-3 p-1">
					<input id="channelIn" type="text" class="form-control" placeholder="Add Channel Name" aria-label="Recipient's username" aria-describedby="button-addon2">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="addChannel">+</button>
					 </div>
				</div>
				<div style="overflow-y: auto;overflow-x: hidden; height:80vh;">
					<div  id="sidebar" class="btn-group-vertical" style="width:100%;">
					</div>
				</div>
			</div>

			<div id="chatbox" class="container col border" >

				<div id="chatarea" class="contianer overflow-auto" style="height:80vh;" >

				</div>

				<div id="chatinput" class="input-group mb-3" style="display:none;">
					<input id="chatTextInput" type="text" class="form-control"  aria-label="Recipient's username" aria-describedby="button-addon2">
					<div class="input-group-append">
					<button class="btn btn-secondary" type="button" id="sendButton">Send</button>
					</div>
				</div>
			</div>
			<div class="collapse show flex-column col-3" id="navbarToggleExternalContent2" style="overflow-y: auto;overflow-x: hidden; height:80vh;">
			<div id="userbar" class="btn-group-vertical p-1" style="width:100%;" data-dname="{{dname}}"></div>
			</div>
		</div>
	 </div>
							

<script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"  ></script>
<script src="{{ url_for('static', filename='popper.min.js') }}" ></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

	</body>
</html>